/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif'"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #B2CFE8;
}
h1 {
  color: midnightblue;
}
h5 {
  color: cornflowerblue;
}
h4 {
  color: midnightblue;
}
h2 {
  color: dimgrey;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #B8E3F;
}

.resume-main {
	background-color: #EEF8FC;
}

.resume-aside {
	background-color: #E1E4E7;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #34224F;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
